---
import PageHeader from "../../components/header/PageHeader.astro";
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout title="Membership">
  <PageHeader page="membership" />
  <p>hello</p>
</PageLayout>
