---
import PageTabs from "../../components/tabs/PageTabs";
import AboutFlickTT from "../../components/about/AboutFlickTT.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import Coaches from "../../components/about/Coaches.astro";

const tabConfig = [
  { label: "About", contentId: "flick-tt", Content: AboutFlickTT },
  { label: "Coaches", contentId: "coaches", Content: Coaches },
];
---

<PageLayout page="about">
  <PageTabs client:load tabConfig={tabConfig} />
  {
    tabConfig.map(({ contentId, Content }, i) => (
      <div
        class:list={["tab-content", { hidden: i !== 0 }]}
        data-tab-content={contentId}
      >
        <Content />
      </div>
    ))
  }
</PageLayout>
