---
import PageHeader from "../../components/header/PageHeader.astro";
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout title="Kids">
  <PageHeader page="kids" />
  <p>hello</p>
</PageLayout>
