<div class="flex flex-col gap-2">
  <p>
    A Rating is a number that you will receive which indicates your skill level
    in comparison to other players in the league. The higher your rating is, the
    better you are compared to other players.
  </p>
  <p>
    When you win a match, you will gain a number of rating points from your
    opponent. The number of points gained depends on both of your ratings. If
    your rating is higher than your opponent, you will gain less points (since
    you are more likely to win). Each match only results in Win/Lose; the
    scoring of the match itself does not affect the number of points you gain.
  </p>
  <p>
    For example, player A has a rating of 1800, player B has a rating of 1600.
    If A wins in a match, A will get 10 points and B will lose 10 points.
    However, if B wins in a match, since he has a lower rating, B will get 30
    points and B will lose 30 points.
  </p>
</div>
