---
interface Props {
  hash: string;
  buttonProps?: astroHTML.JSX.ButtonHTMLAttributes;
}

const { hash, buttonProps } = Astro.props;

let _buttonProps: astroHTML.JSX.ButtonHTMLAttributes = {};
if (_buttonProps) {
  _buttonProps = { ...buttonProps };
  delete _buttonProps.class;
}
---

<button
  {..._buttonProps}
  class:list={[
    "flex justify-center items-center w-full sm:w-40 lg:w-50 h-12 sm:h-20 p-1 cursor-pointer not-first:border-l border-flick-dark text-center uppercase font-light sm:text-lg tab-links transition duration-150 hover:bg-linear-to-b hover:from-flick-black hover:to-[#242424]",
    buttonProps?.class,
  ]}
  data-target={hash}
>
  <slot />
</button>
