---
interface Props extends astroHTML.JSX.HTMLAttributes {
	section?: boolean;
}

const { section, ...props } = Astro.props;
const _props = { ...props };
if (_props) delete _props.class;

const classList = ["grid grid-cols-1 lg:grid-cols-3 gap-8", props?.class];
---

{
  section ? (
    <section {..._props} class:list={classList}>
      <slot />
    </section>
  ) : (
    <div {..._props} class:list={classList}>
      <slot />
    </div>
  )
}
