---
interface Props {
  title?: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div class="col-span-1">
  {title && <h3 class:list={["text-4xl", { "mb-2": !!subtitle }]}>{title}</h3>}
  {subtitle && <p class="text-xl">{subtitle}</p>}
  <slot />
</div>
