---
import WithA from "../with/WithA.astro";

interface Props {
	aProps?: astroHTML.JSX.AnchorHTMLAttributes;
	btnProps?: astroHTML.JSX.ButtonHTMLAttributes;
}

const { aProps, btnProps } = Astro.props;
---

<WithA {...aProps}>
  <button
    type="button"
    class="w-71 text-white bg-white/35 rounded text-[32px] font-semibold cursor-pointer transition duration-150 hover:bg-white/50"
    {...btnProps}
  >
    <slot />
  </button>
</WithA>
