---
import PageHeader from "../../components/header/PageHeader.astro";
import PageTabs from "../../components/tabs/PageTabs";
import CompeteAtFlick from "../../components/compete/CompeteAtFlick.astro";
import FlickTTLeague from "../../components/compete/league/FlickTTLeague.astro";
import FlickTTTournament from "../../components/compete/tournament/FlickTTTournament.astro";
import PageLayout from "../../layouts/PageLayout.astro";

const tabConfig = [
  { label: "Compete at Flick TT", contentId: "compete-at-flick" },
  { label: "Flick TT League", contentId: "club-league" },
  { label: "Flick TT Tournament", contentId: "tournament" },
];
---

<PageLayout title="Compete">
  <PageHeader page="compete" />
  <PageTabs client:load tabConfig={tabConfig} />
  <div class="tab-content" data-tab-content={tabConfig[0].contentId}>
    <CompeteAtFlick />
  </div>
  <div class="tab-content hidden" data-tab-content={tabConfig[1].contentId}>
    <FlickTTLeague />
  </div>
  <div class="tab-content hidden" data-tab-content={tabConfig[2].contentId}>
    <FlickTTTournament />
  </div>
</PageLayout>
