---
import PageTabs from "../../components/tabs/PageTabs";
import CompeteAtFlick from "../../components/compete/CompeteAtFlick.astro";
import FlickTTLeague from "../../components/compete/league/FlickTTLeague.astro";
import FlickTTTournament from "../../components/compete/tournament/FlickTTTournament.astro";
import PageLayout from "../../layouts/PageLayout.astro";

const tabConfig = [
  {
    label: "Compete at Flick TT",
    contentId: "compete-at-flick",
    Content: CompeteAtFlick,
  },
  {
    label: "Flick TT League",
    contentId: "club-league",
    Content: FlickTTLeague,
  },
  {
    label: "Flick TT Tournament",
    contentId: "tournament",
    Content: FlickTTTournament,
  },
];
---

<PageLayout page="compete">
  <PageTabs client:load tabConfig={tabConfig} />
  {
    tabConfig.map(({ contentId, Content }, i) => (
      <div
        class:list={["tab-content", { hidden: i !== 0 }]}
        data-tab-content={contentId}
      >
        <Content />
      </div>
    ))
  }
</PageLayout>
