---
const { day } = Astro.props;
---

<div class="w-42.5 lg:w-fit lg:flex-1/5 xl:flex-1/8 flex-col gap-2.5">
  <p class="font-semibold text-3xl">{day}</p>
  <div class="flex flex-col gap-2.5 h-178">
    <slot />
  </div>
</div>
