---
import NavLogo from "../../assets/logo-no-sub.svg";
import MenuToggleButton from "./MenuToggleButton.astro";

const { page } = Astro.props;

const links = [
  { name: "Offerings", link: "/offerings" },
  { name: "Compete", link: "/compete" },
  { name: "Kids", link: "/kids" },
  { name: "Membership", link: "/membership" },
  { name: "About", link: "/about" },
];

const isHome = page === "home";
---

<nav class="w-full pl-3 lg:pr-3">
  <div
    class:list={[
      `flex items-center h-12.5`,
      isHome ? "justify-end" : "justify-between",
    ]}
  >
    {
      !isHome && (
        <a href="/">
          <NavLogo height="50px" />
        </a>
      )
    }

    <!-- mobile menu -->
    <div class="flex items-center lg:hidden">
      <MenuToggleButton />
    </div>
    <div popover id="mobile-menu" class="lg:hidden">
      <div
        class="flex flex-col gap-y-8 h-screen w-screen overflow-y-scroll py-9.5 px-8.5"
      >
        <MenuToggleButton menuOpen />
        {
          links.map(({ name, link }) => (
            <a
              href={link}
              class="text-center font-bold text-5xl sm:8xl md:text-9xl text-flick-black transition duration-150 hover:bg-white/5 hover:text-flick-yellow"
            >
              {name}
            </a>
          ))
        }
      </div>
    </div>

    <!-- desktop menu -->
    <ul class="hidden lg:flex flex-row gap-10 text-white">
      {
        links.map(({ name, link }) => (
          <li>
            <a href={link}>{name}</a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
