---
import BannerButton from "../ui/inputs/BannerButton.astro";
import BannerLogo from "../../assets/logo-no-sub.svg";
import HeaderContainer from "./HeaderContainer.astro";

const { page } = Astro.props;
---

<HeaderContainer page={page}>
  <div
    class="flex flex-col gap-10 items-center justify-between lg:flex-row xl:gap-30"
  >
    <BannerButton>Timetable</BannerButton>
    <BannerButton>Membership</BannerButton>
    <BannerButton>Book</BannerButton>
  </div>
  <div class="max-w-375 w-full">
    <BannerLogo />
  </div>
</HeaderContainer>
