---
import HeaderNav from "./HeaderNav.astro";
import BannerButton from "../ui/inputs/BannerButton.astro";
import BannerLogo from "../../svg/logo-no-sub.svg";
---

<header
  class="p-4 h-190 bg-[url(../src/img/banner-image.png)] bg-center bg-cover bg-no-repeat"
>
  <div
    class="flex flex-col items-center justify-between border-2 border-solid border-flick-yellow rounded-md py-4 px-7 h-full"
  >
    <HeaderNav />
    <div
      class="flex flex-col gap-10 items-center justify-between lg:flex-row xl:gap-30"
    >
      <BannerButton>Timetable</BannerButton>
      <BannerButton>Membership</BannerButton>
      <BannerButton>Book</BannerButton>
    </div>
    <div class="max-w-375 w-full">
      <BannerLogo />
    </div>
  </div>
</header>
