---
import Container from "../../layouts/Container.astro";
import type { FaqConfig } from "../../types";
import Accordion from "../accordion/Accordion.astro";
import AccordionContent from "../accordion/AccordionContent.astro";
import AccordionStack from "../accordion/AccordionStack.astro";
import AccordionTitle from "../accordion/AccordionTitle.astro";

interface Props {
	faqConfig: FaqConfig[];
}

const { faqConfig } = Astro.props;
---

<div class="bg-flick-red">
  <Container section class="pt-6 pb-14 text-xl">
    <h3 class="text-flick-yellow mb-6">Frequently Asked Questions</h3>
    <AccordionStack>
      {
        faqConfig.map(({ title, Content }) => (
          <Accordion>
            <AccordionTitle>{title}</AccordionTitle>
            <AccordionContent>
              {typeof Content === "string" ? <p>{Content}</p> : <Content />}
            </AccordionContent>
          </Accordion>
        ))
      }
    </AccordionStack>
  </Container>
</div>
