---
import type { PointsRowConfig } from "../../types";

interface Props {
  pointConfig: PointsRowConfig;
}

const { pointConfig } = Astro.props;
---

<div class="border-y border-flick-dark overflow-x-auto">
  <div
    class="flex flex-col md:flex-row md:max-w-fit m-auto border-x border-flick-dark"
  >
    {
      pointConfig.map(({ Icon, text }) => (
        <div class="grid grid-rows-1 md:grid-rows-[auto_1fr] gap-6 w-full md:max-w-150 py-10 not-first:border-l not-last:border-b md:not-last:border-b-0 border-flick-dark bg-linear-to-b from-flick-black to-[#242424]">
          <Icon class="size-20 m-auto" />
          <p
            class:list={[
              "md:max-w-lg px-12 text-center font-light text-xl md:text-2xl",
              pointConfig.length > 2 ? "md:max-w-lg" : "md:max-w-xl",
            ]}
          >
            {text}
          </p>
        </div>
      ))
    }
  </div>
</div>
