---
import PageHeader from "../../components/header/PageHeader.astro";
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout title="Coaches">
  <PageHeader page="coaches" />
  <p>hello</p>
</PageLayout>
