---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import Container from "./Container.astro";

export type FaqConfig = {
  title: string;
  Content: AstroComponentFactory | string;
};
---

<div class="bg-flick-red">
  <Container section class="pt-6 pb-14 text-xl">
    <h3 class="text-flick-yellow mb-6">Frequently Asked Questions</h3>
    <slot />
  </Container>
</div>
