---
import Footer from "../components/footer/Footer.astro";
import HomeHeader from "../components/header/HomeHeader.astro";
import PageHeader from "../components/header/PageHeader.astro";
import "../styles/global.css";
import type { Page, PageConfig } from "../types";

interface Props {
  page: Page;
}

const pageConfig: Record<Page, PageConfig> = {
  home: {
    title: "Home",
  },
  offerings: {
    title: "Offerings",
  },
  compete: {
    title: "Compete",
  },
  kids: {
    title: "Kids",
  },
  membership: {
    title: "Membership",
  },
  about: {
    title: "About",
  },
  coaches: {
    title: "Coaches",
  },
};

const { page } = Astro.props;
---

<html lang="en" class="font-briolage-grot bg-flick-black text-white">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`Flick TT | ${pageConfig[page].title}`}</title>
  </head>
  <body>
    {
      page === "home" ? (
        <HomeHeader />
      ) : (
        <PageHeader title={pageConfig[page].title} />
      )
    }
    <slot />
    <Footer />
  </body>
</html>
